/* .container{
    width: 50%;
    height: 83.4vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.image{
    display: none;
}

#prev{
    position: absolute;
    color: white;
    top: 43%;
    left: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;

}

#next{
    position: absolute;
    color: white;
    top: 43%;
    right: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

#prev:hover,#next:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.dots{
    text-align: center;
    margin: 2%;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
    transition: background-color 0.6s ease;
}

.active{
    background-color: #717171;
}

.fade{
    animation: fade 1.5s;
}

@keyframes fade{
    from{opacity: .4}
    to {opacity: 1}
}

@media(max-width:768px){
    .container{
        width: 100%;;
    }
} */


.slider {
  width: 100%;
  position: relative;
}

.slider-container {
  width: 1280px;
  height: 600px;
  display: flex;
  overflow: hidden;
  padding-left: 200px;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider-controls button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  display: flex;
  
}

.prev-btn {
  margin-right: 10px;
  
}

.next-btn {
  margin-left: 10px;
}

.slider-dots {
  display: flex;
  margin: 0 20px;
}

.slider-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #555;
}
